{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <title>Profile</title>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'Logo/logo.svg' %}" alt="test logo" />
            </a>


            <div class="dropdown">
                <div id="userProfileDropDown" class="Navbar_userDropdown" data-toggle="dropdown">
                    <div height="24px" width="24px" font-size="12px" class="sc-giImIA cmarCr">PS</div>
                    <div class="Navbar_userName__33i8V">{{user.profile.name}}</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="Navbar_downArrowIcon__vr0f9">
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </div>
                <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu"
                    aria-labelledby="userProfileDropDown">
                    <a class="dropdown-item" href="{% url 'profile' %}">
                        <img src="{% static 'Logo/user.svg' %}" width="25px" alt="user" />
                        Edit Profile</a>
                    <a class="dropdown-item" href="#">
                        <img src="{% static 'Logo/settings.svg' %}" width="25px" alt=" settings" />

                        Account Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <img src="{% static 'Logo/logout.svg' %}" width="25px" alt="logout" />

                        Logout</a>
                </div>
            </div>
        </nav>

    </header>

    <main class="main-container">
        <form class='container' action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="profile-photo-container profile-photo-form-container">
                <p class="profile-page-heading">Edit your profile</p>
                <img src="{{user.profile.profile_img.url}}" alt="user-image" width="" srcset="">
                {{form.profile_img}}

            </div>


            <div class="user-content-container user-profile-form-container">
                <ul>
                    <li class="name">
                        <label for="user-name">Your Name</label>
                        {{form.name}}
                    </li>
                    <li class="title">
                        <label for="user-title">Your title</label>
                        {{form.title}}
                    </li>
                    <li class="desc">
                        <label for="user-desc">Description</label>
                        {{form.desc}}
                    </li>
                </ul>
                <button class="btn"> Save </button>
            </div>
        </form>
    </main>
    <script src="{% static 'js/index.js' %}"></script>

    <script>

        var id_name = document.getElementById('id_name')
        var id_title = document.getElementById('id_title')
        var id_desc = document.getElementById('id_desc')
        id_name.placeholder = 'Your Name'
        id_title.placeholder = 'Your Title'
        id_desc.placeholder = 'Description'

    </script>

</body>

</html