*,
body {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

body {
    background-color: #EFEFEF;
}

header {
    background: #FFFF;
    height: 5em;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    margin: auto 7%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2em;
    font-weight: semi-bold;
    text-decoration: none;
}

.logo:hover {
    color: white;
}

.profile-icon-link-container {
    display: flex;
    align-items: center;
    margin: auto 0;
}


.profile-icon-link-container img {
    margin: auto .3em auto auto;
    width: 2.5em;
}

.profile-icon-link-container span {
    margin: auto 0 .3em auto;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

a {
    text-decoration: none;
}


/* notification block */


.notification-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.notification {
    padding: .8em 5%;
    background-color: #d4edda;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    border-radius: 5px;
}

#cross {
    cursor: pointer;
}

/* Main Container css */

.main-container {
    width: 50%;
    background: white;
    margin: 10% auto;
    border-radius: 2em;
    padding: 2em 2em;
}

.container {
    display: flex;
    margin: 2em 2em;
    align-items: center;
    justify-content: space-around;
}

.profile-photo-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo-container img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    margin: .5em auto;
}

.user-content-container {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding-left: 2em;
}

.username {
    font-size: 2em;
    font-weight: 600;
    margin: 5px 0;
}

.user-title {
    font-size: 1.6em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.876);
    margin: 5px 0;
    width: 80%;
    line-height: 1.3em
}

.user-desc {
    font-size: .9em;
    color: #4B4B4B;
    margin: 4px auto 4px 0;
}

.profile-edit-link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.profile-edit-link-container a {
    text-decoration: none;
    color: #1a0dab;
}


@media only screen and (max-width: 1200px) {
    .container {
        display: block;
        font-size: 18px;
    }

    .main-container {
        padding: 2em 1.5em;
    }

    .user-content-container {
        padding-left: 0;
        width: 60%;
    }

    .profile-photo-container {
        width: 100%;
        margin: auto;
        width: 30%;
    }
}


@media only screen and (max-width: 800px) {
    .user-content-container {
        margin: 2em auto;
    }

    .user-title {
        width: 100%;
    }

    .main-container {
        margin: 10% auto;
        width: 75%;
    }

    .header-username {
        display: none;
    }

    .profile-photo-container {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {}

.Navbar_userDropdown {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    min-width: 230px;
}


.custom-dropdown-menu {
    --rem: 16;
    --vh: 7.73px;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: "DM Sans";
    display: flex;
    padding: 10px;
    outline: none;
    cursor: pointer;
    grid-gap: 15px;
    gap: 15px;
    background-color: #fff;
    border: 1.5px solid #ebf0f5;
    border-radius: 8px;
    position: relative;
    min-width: 140px;
    transition: .1s;
}

.dropdown-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    z-index: 344;
    position: absolute;
}

.dropdown-item {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-top: 20px;
    z-index: 344;
    /* position: absolute; */
    width: 250px;
    padding: 0px;
    align-items: center;
    gap: 10px;
}

.dropdown-item:hover {
    background-color: #ebf0f5;
}