.btn {
    margin-top: 1.5em;
    width: 100%;
    color: white;
    padding: .5em;
    background: linear-gradient(90deg, #1903c5, #558ef9);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #558ef9, #1903c5);
}

.navbtn {
    border-radius: 5px;
    border: 1px solid #1903c5;
    padding: .5em;
    color: #1903c5;
    font-weight: 600;
    font-size: 1em;
}